@font-face {
  font-family: 'BermudaLPStd-Dots';
  src: url('BermudaLPStd-Dots.eot');
  src: url('BermudaLPStd-Dots.woff2') format('woff2'),
       url('BermudaLPStd-Dots.woff') format('woff'),
       url('BermudaLPStd-Dots.ttf') format('truetype'),
       url('BermudaLPStd-Dots.svg#BermudaLPStd-Dots') format('svg'),
       url('BermudaLPStd-Dots.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

